certifi==2019.6.16
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.3
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
idna==2.8
oauthlib==3.0.2
Pillow==8.1.1
pkg-resources==0.0.0
python-decouple==3.1
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
sqlparse==0.3.0
stripe==2.32.1
urllib3==1.25.3
