{% extends 'base.html' %}

{% block maincontent %}
{% include 'slider.html' %}


  <!--Main layout-->
  <main>
    <div class="container">

{% include 'navbar.html' %}

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">

          

          {% for item in object_list %}
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                

                <img src="{{ item.image.url }}" class="card-img-top" 
                  alt="">
                <a href="{% url 'product-detail' item.slug %}" target="blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5> {{ item.get_category_display  }}  </h5>
                </a>
                <h5>
                  <strong>
                    <a href="{% url 'product-detail' item.slug %}" target="blank" class="dark-grey-text">{{ item.title }}
                      <span class="badge badge-pill {{item.get_label_display}}-color">{{ item.get_availabily_display }}</span>
  
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text">
                  <strong>
                    {% if item.discount_price %}

                      {{ item.discount_price  }}   
                      
                    {%else %}                 

                  {{ item.price  }}
                        
                    {% endif %}

                </strong>
                </h4>

              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          {%  endfor %}



        </div>
        <!--Grid row-->

     

      </section>
      <!--Section: Products v.3-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>
  <!--Main layout-->


{% endblock maincontent %}






